  <div class="row">
    <div class="col-md-6">
      <h2>Tasks</h2>
    </div>
    <div class="col-md-6">
      <%= link_to "New Task", new_task_path, remote:true, :class => 'btn' %>
    </div>
  </div>
  
<div class="row">
  <div class="col-md-6 col-md-offset-2" id="task-form" style="display:none;"></div>
</div>
<div class="row">
  <div class="col-md-7 col-md-offset-1" id="tasks"><%= render @tasks %></div>
</div>
